.App {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 4%,
    rgba(60, 0, 48, 1) 50%,
    rgba(77, 0, 119, 1) 95%
  );
  min-height: 150vh;
  max-height: 300vh;
  padding: 3rem;
  border: 2px solid rebeccapurple;
}

.gradient {
  background-color: aqua;
  background-image: linear-gradient(90deg, #01d0d3, #b700ba 100%);
}

.gradientFont {
  background: -webkit-linear-gradient(#00dbde, #fc00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nftcard {
  background-image: linear-gradient(90deg, #4d2cf6, #ff157a 100%);
  margin-top: 2rem;
  font-size: 16px;
  margin-right: 1rem;
}
